body{

  color:white;

 text-align: center;
margin:0px;
padding:0px;   
 
height:fit-content;

}



#first{
  height:fit-content;
  padding-bottom: 120px;
  
}
li{
  list-style: none;
  margin:2px;
}
a{
  text-decoration: none;
  color:white;
  
}

.container a:hover{
  color:white;
text-shadow: 
-1px -1px 0 black ,
 1px -1px 0 black ,
-1px  1px 0 black ,
 1px  1px 0 black
}
h3 a:hover{
color: #4d0047;
text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 #fff 
}
a:hover{
color: #4d0047;
text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 #fff 
}
.container{
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items: start;
  background-color:purple;
 padding-top:1%;
 padding-bottom:1%;
 margin-top:0%;
 
}
ul.container{
padding-left: 0px;
text-align: left;
}
#second>div img{
  height:100px;
  width:100px;
  border-radius: 50%;
  margin:30px;
  
  
}

#second{
    color: #4d0047;
text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 #fff ;

  margin:20px;
  text-align: center;
  height:fit-content;
margin-bottom:40px;
margin-top:40px;
}

#skill{
  color:purple;
 
}
.grid-container{
width: 250px;
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap:5px;
margin:1px;

}
#gridy{
  width: 800px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:10px;
    margin:5px;
}

.gradient-background {
  background: linear-gradient(300deg, red,purple,darkblue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;


 
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;


  }
  50% {
    background-position: 100% 50%;


  }
  100% {
    background-position: 0% 50%;
  

  }
}

.name{

margin-bottom:5px;
padding-bottom:5px;
color: white;
text-shadow: 
-1px -1px 0 #000 ,
 1px -1px 0 #000 ,
-1px  1px 0 #000 ,
 1px  1px 0 #000 

}

.name:hover{
color: #4d0047;

text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 #fff 
}




p{
  text-align: center;
  font-weight: bold;
  font-size:large;
} 


footer{
  text-align: left;
}
.gg{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:start;
  font-size:2.3vh;
  height:15vh;
  margin:5px;
  padding:5px;
  padding-top:40px;
  color: white;
  text-shadow: 
  -1px -1px 0 #000 ,
   1px -1px 0 #000 ,
  -1px  1px 0 #000 ,
   1px  1px 0 #000 
  
}
.checked {
color: orange;
}
.checked:hover{
  color: gold;
}
.myc{

color:rgb(20, 20, 142);
text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 gold 
}
.myc:hover{
  color:rgb(44, 44, 180);
 
  text-shadow: 
  -1px -1px 0 #fff ,
   1px -1px 0 #fff ,
  -1px  1px 0 #fff ,
   1px  1px 0 gold 
  }



.fl{
  font-weight: bold;
color: #e3dede;
font-size: large;
display:flex;
justify-content: center;
flex-wrap: wrap;
text-align: right;

}

#second h2{
color: #4d0047;
text-shadow: 
-1px -1px 0 #fff ,
 1px -1px 0 #fff ,
-1px  1px 0 #fff ,
 1px  1px 0 #fff 
}

#contact .gradient-background{
padding-left: 3%;
text-align: center;

}
.sm{
display: flex;
flex-wrap:wrap;
justify-content: center;

color: #4d0047;
}

.last{
display: flex;
flex-wrap:wrap;
width:100%;
justify-content: center;


}
.a{
padding:1%;
}
.a:hover{
color:blueviolet;
}

.noapp{
display:flex;
position:absolute;
background-color: purple;
justify-content:center;
padding:2%;
flex-direction: column;
align-items: right;
border:1px solid gold;


text-shadow: 
-1px -1px 0 #000,  
 1px -1px 0 #000,
-1px  1px 0 #000,
 1px  1px 0 #000; 


}
.noapp:hover{
  background-color:#4d0047;
}
h3{

  font-size: 3vh;
}

.paused {
animation-play-state: paused;
}

.gradient-background2 {
background: linear-gradient(300deg, rgb(54, 225, 231),purple,rgb(138, 243, 18));
background-size: 180% 180%;
animation: gradient-animation2 18s ease infinite; 

padding:1%;
display:flex;
justify-content: center;
margin-left:30%;
margin-right:30%;

text-align: center;
text-shadow: -1px 1px #000,
             -1px 1px #000,
             -1px 1px #000,
             -1px 1px #000;

}
@keyframes gradient-animation2 {
0% {
  background-position: 0% 50%;


}
50% {
  background-position: 100% 50%;


}
100% {
  background-position: 0% 50%;


}}






footer a,footer .a{
  color:white;
}

footer a:hover,footer .a:hover{
  color: white;
  text-shadow: 
  -1px -1px 0 #000 ,
   1px -1px 0 #000 ,
  -1px  1px 0 #000 ,
   1px  1px 0 #000 
}
#shift{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:10px;

}
#mybounce{
  
 border:1px solid gold;
 padding:2px;

 border-radius: 20px;
}
#mybounce:hover{
  background-color: #4d0047;

  
 }

 
 .roboto-slab-TT {
   font-family: "Roboto Slab", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
 }
 .animage{
  width:150px;
  height:150px;
  padding:30px;
opacity:0.7;
  display:inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  border:1px solid white;
  margin:20px;
  
 }
 .animage:hover{
background-color:#8e4488;
opacity:1;
 }


